.navbar{
    height: 10%;
    width: 100%;
   float: left;
   background-color: rgb(0, 14, 209);
    overflow: hidden;
    z-index: 1000;
    position:fixed;
}
.navbar a{
    float: left;
    display: block;
    color: rgb(252, 252, 252);
    padding: 15px;
    text-align: center;
    text-decoration: none;
}
.navbar a:hover{
    background-color: antiquewhite;
    color: black;
}
ul{
    list-style-type:none; 
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
}
#home{
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(119, 119, 119);
    height: 25%;
    width: 50%;
    float: left;
    margin-top: 110px;
    margin-left: 20%;
    color: aliceblue;
}
body{
    background-image: url(https://img.elo7.com.br/product/zoom/29E40EE/painel-motocross-g-frete-gratis-fundo-festa-infantil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img{ width: 200px;
height: 150px;
}
#esp{
    height: 25%;
    width: 50%;
    float: left;
    margin: 30px;
    margin-top: 80px;
    margin-left: 20%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(117, 117, 117);
    color: aliceblue;
}
#sobre{
    border-radius: 10px;
    background-color: rgb(133, 133, 133);
    float: left;
    padding: 20px;
    margin: 40px;
    margin-left:20% ;
    width: 50%;
    color: rgb(236, 236, 236);
}
